/.vscode
\SI
/SI
*.si4project
*.IAB
*.IAD
*.IMB
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults
language.settings.xml
firmware/user_code
/firmware/voice/flac
/firmware/voice/adpcm
/firmware/voice/flac
/firmware/voice/mp3
*.bin
